.products-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .filter-buttons {
    display: flex;
    width: 50%;
    justify-content: space-around;
    height: 100%;
    padding: 20px;
  }

  .products {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;

    .product-card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 30%;
      height: 100%;
      margin-bottom: 50px;
      padding-inline: 20px;
      margin-inline: 10px;
      border: 0.5px solid rgb(73, 73, 73);

      .product {
        height: 100%;
      }

      .button-wrapper {
        display: flex;
        min-height: 50px;
        max-height: 300px;
        justify-content: center;
        align-items: flex-end;

        .add-to-cart-button {
          display: flex;
        }
      }

      .product-link {
        text-decoration: none;
        color: rgb(225, 225, 225);
      }

      .product-wrapper {
        display: flex;
        flex-direction: column;
        height: 700px;
        color: rgb(225, 225, 225);
      }

      .image {
        display: flex;
        width: 100%;
        height: 60%;
        padding-block: 30px;
        align-items: center;
      }
    }
  }
}
